//--------------------------------------------------------------
// # Legacy property (@extend %inputDropDown)
//--------------------------------------------------------------
%inputDropDown {
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    color: $white;
    font-family: $lato-font;

    &:focus {
        box-shadow: none;
        color: $white;
    }
    &::placeholder {
        font-family: $lato-font;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        color: $white;
    }
}

%btnDropdown {
    border-radius: 0 5px 5px 0;
    padding: 1rem;
}
