// Les commentaires
// "/* */" Présent à la sortie du CSS, "//" Pas compile (pas présent dans le CSS de sortie)

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "./boostrap/bootstrap.scss"; //Boostrap 4.0 (https://grafikart.fr/tutoriels/sass-bootstrap-1110#autoplay)
@import "./variables.scss"; //Variables
@import "./legacy.scss"; //Legqcy Props



* {box-sizing: border-box;}

html {
    height: 100%; 
    scroll-behavior: smooth;
}
body {height: 100%; 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    font-family: DM Sans;
}

ul {
  padding: 0;
  list-style: none;
}


header {
    margin-top: 2.5rem;
}
.headerImgTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D04F4F;
}

.p-05 {
    padding: .5rem 0;
}
.no-border {
    border: none;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.none {
    display: none;
}


/** Search bar */
.inputGroupBorder {
    background: $grey;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: .75rem;
}
.inputGroupBorder::placeholder {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color: $black;
    opacity: 0.25;
    text-align: left;
}

/** Glyphicon search bar */
.buttonGroupBorder {
    background: $grey;
    border-radius: 0 5px 5px 0;
    padding: .75rem;
}

.btnDefault {
    background: $blue;
    border-radius: 5px;
    font-family: $lato-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
}

.icon {
    width: 16px;
    height: auto;
}
.removeIcon {
    margin-top: -2px;
    margin-left: 0.25rem;
}


/*--------------------------------------------------------------
#  DROPDOWN SEARCH
--------------------------------------------------------------*/
.contents {
    display: contents;
}
.dropdownSearch {
    padding-bottom: 0;
    margin-left: 1rem;
}

#icon-dropdown-up {
    display: none;
}

.inputDropdownIngredient, .inputDropdownAppareil, .inputDropdownUstensil {
    @extend %inputDropDown;
    background: $blue;
}
.inputDropdownAppareil {
    background: $green;
}
.inputDropdownUstensil {
    background: $orange;
}

.inputDropdownIngredient:focus {
    background: $blue;
}
.inputDropdownAppareil:focus {
    background: $green;
}
.inputDropdownUstensil:focus {
    background: $orange;
}

.btnDropdownIngredient, .btnDropdownAppareil, .btnDropdownUstensil {
    @extend %btnDropdown;
    background: $blue;
}
.btnDropdownAppareil {
    background: #68D9A4;
}
.btnDropdownUstensil {
    background: #ED6454;
}

.dropDownList {
    display: none;
    columns: 4;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -3px;
    position: absolute;
    z-index: 20;
    width: max-content;

    li a {
        font-family: $lato-font;
        color: $white;
        margin-top: 3px;
        border-radius: 5px;
        margin-top: 0px;
        padding: 10px;
        text-decoration: none;
        display: block;
        border: none;
    }
}

#dropdownIngredientList {
    background-color: $blue;
}
#dropdownAppareilList {
    background-color: $green;
}
#dropdownUstensilList {
    background-color: $orange;
}

/** END DROPDOWN SEARCH */


.card-body-style {
    background: $grey;
    border-radius: 0 0 5px 5px;
}

.card-title {
    @extend %card-font;
}

.card-time {
    @extend %card-font;
    font-weight: bold;
}

.clockIcon {
    margin-top: -2px;
    margin-left: 0.25rem;
}

.card-description {
    @extend %card-font;
    font-family: $roboto-font;
    font-size: 12px;
    line-height: 100%;
}

.card-ingredients {
    @extend %card-font;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin: 0;

    li {
        margin-top: 3px;
    }

    span {
        font-weight: normal;
    }
}

#recipes-not-found {
    display: none;
    background: #E7E7E7;
    padding: 2rem;
    margin: 0;
    font-family: $lato-font;
    font-size: 1rem;
}