// Les commentaires
// "/* */" Présent à la sortie du CSS, "//" Pas compile (pas présent dans le CSS de sortie)

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "./boostrap/bootstrap.scss"; //Boostrap 4.0 (https://grafikart.fr/tutoriels/sass-bootstrap-1110#autoplay)
@import "./variables.scss"; //Variables
@import "./legacy.scss"; //Legqcy Props



* {box-sizing: border-box;}

html {
    height: 100%; 
    scroll-behavior: smooth;
}
body {height: 100%; 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    font-family: DM Sans;
}

ul {
  padding: 0;
  list-style: none;
}


header {
    margin-top: 2.5rem;
}
.headerImgTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D04F4F;
}

.p-05 {
    padding: .5rem 0;
}



/** Search bar */
.inputGroupBorder {
    background: $grey;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: .75rem;
}
.inputGroupBorder::placeholder {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color: $black;
    opacity: 0.25;
    text-align: left;
}

/** Glyphicon search bar */
.buttonGroupBorder {
    background: $grey;
    border-radius: 0 5px 5px 0;
    padding: .75rem;
}

.btnDefault {
    background: $blue;
    border-radius: 5px;
    font-family: $lato-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
}

.icon {
    width: 16px;
    height: auto;
}
.removeIcon {
    margin-top: -2px;
    margin-left: 0.25rem;
}


/*--------------------------------------------------------------
#  DROPDOWN SEARCH
--------------------------------------------------------------*/
.contents {
    display: contents;
}
.dropdownSearch {
    width: 200px;
    padding-bottom: 0;
    margin-left: 1rem;
}

#icon-dropdown-up {
    display: none;
}

.inputDropdownPrimary, .inputDropdownGreen, .inputDropdownOrange {
    @extend %inputDropDown;
    background: $blue;
}
.inputDropdownGreen {
    background: $green;
}
.inputDropdownOrange {
    background: $orange;
}

.inputDropdownPrimary:focus {
    background: $blue;
}
.inputDropdownGreen:focus {
    background: $green;
}
.inputDropdownOrange:focus {
    background: $orange;
}

.btnDropdownPrimary, .btnDropdownGreen, .btnDropdownOrange {
    @extend %btnDropdown;
    background: $blue;
}
.btnDropdownGreen {
    background: #68D9A4;
}
.btnDropdownOrange {
    background: #ED6454;
}

.dropDownList {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    margin-top: -3px;
    position: absolute;
    z-index: 20;

    li a {
        font-family: $lato-font;
        color: $white;
        margin-top: 3px;
        border-radius: 5px;
        margin-top: -7px;
        padding: 16px;
        text-decoration: none;
        display: block;
        border: none;
    }
}

#dropdownPrimaryList {
    background-color: $blue;
}
#dropdownGreenList {
    background-color: $green;
}
#dropdownOrangeList {
    background-color: $orange;
}





/** END DROPDOWN SEARCH */