//--------------------------------------------------------------
// # Font
//--------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=DM+Sans');

//--------------------------------------------------------------
// # Variables
//--------------------------------------------------------------
$DM-font: 'DM', sans-serif;;
$lato-font: 'Lato';

// Color variation according to figma model
//https://www.figma.com/file/xqeE1ZKlHUWi2Efo8r73NK/UI-Design-Les-Petits-Plats-FR?node-id=0%3A1
$grey: #E7E7E7;
$grey_declin: #C7BEBE;
$black: #000000;
$white: #FFFFFF;
$blue: #3282F7;
$green: #68D9A4;
$orange: #ED6454;